.main_display{
    height:93vh;
    padding : 2rem;
    display: flex;
    flex-flow: column;
    /* background-position: ; */
}

.left_part{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    background-image: url('https://i.ibb.co/2s3hBdV/Logo-3.jpg');
    background-position-x: 40%;
    background-size: 35%;
    background-repeat: no-repeat;
    height: 100%;
}

.title{
    font-size: 75px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    margin:  0 0 0 2rem;
    position: relative;
    background: transparent;
    position: relative;
    top : 50px;
    left : 0;
}

.subTitle{
    font-size: 34px;
    font-family: 'Exo 2', sans-serif;
    position: relative;
    margin: 0 0 0 2.3rem;
    background: transparent;
    position: relative;
    top : 40px;
    left : 0;
}

.right_part{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image : url("https://i.ibb.co/jzYSmJY/shopping-cart-colour-400px.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% ;
}


@media (max-width : 500px){
    .left_part{
        background-size: 40vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-position-x: 50%;
        background-position-y: 10%;
    }
    
    .title{
        margin:  0;
        font-size: 12vw;
        position: relative;
        top: -40px;
    }

    .subTitle{
        margin: 0;
        font-size: 4vw;
        position: relative;
        top: -40px;
    }

}