.root{
    height:56px;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    text-align: center;
}

.toolbar{
    height:100%;
    /* color:white; */
    display: flex;
    justify-content: space-between;
}

.logo_container{
    /* font-family: 'Tangerine', cursive; */
    font-family: 'Montez', cursive;
    /* font-family: 'Megrim', cursive; */
    font-size: 2vw;
    font-weight: 600;
    text-decoration: none;
    color : black;
    /* font-family: 'Redressed', cursive; */
}

.links{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.link{
    padding:1px 15px;
    display: flex;
    cursor: pointer;
}

@media(max-width : 600px){
    .link{
        padding : 1px 5px;
    }

    .logo_container{
        font-size: 5vw;
    }
}