.ShopPage{
    height: calc(100% - 56px - 56px);
    position: relative;
    top:56px;
    padding: 2rem;
    /* overflow-y: auto; */
    /* margin-bottom: 56px; */
}

.title{
    font-family: 'Dosis',sans-serif;
    font-size: 4vw;
    text-align: center;
}


@media(max-width : 500px){
    .title{
        font-size: 8vw;
    }
}