.Footer{
    height: 56px;
    width:100%;
    position: fixed;
    bottom: 0;
    background: #c4c49d;
}

.left_part{
    height : 100%;
    display : flex;
    align-items: center;
}

.text{
    font-weight: bold;
    font-size: 15px;
}

.instagram{
    height: 40px;
    width : 40px;
    background-image: url('https://i.ibb.co/cyRTYRC/instagram-1.png');
    background-position: center;
    background-size: cover;
    margin : 5px 0 0 10px;
}

.facebook{
    height: 40px;
    width : 40px;
    background-image: url('https://i.ibb.co/L575L0w/facebook.png');
    background-position: center;
    background-size: cover;
    margin : 5px 0 0 10px;
}

.twitter{
    height: 40px;
    width : 40px;
    background-image: url('https://i.ibb.co/KhxcmSw/twitter-1.png');
    background-position: center;
    background-size: cover;
    margin : 5px 0 0 10px;
}

.google{
    height: 40px;
    width : 40px;
    background-image: url('https://i.ibb.co/JBKhTLH/icons8-google-plus-96.png');
    background-position: center;
    background-size: cover;
    margin : 5px 0 0 10px;

}

.copyright{
    height : 100%;
    display : flex;
    align-items: center;
    font-weight: bold;
    text-align: end;
}

@media(max-width:600px) {
    .Footer{
        height : 64px;
    }
}