.SignInPage{
    height: calc(100% - 56px);
    position: relative;
    top:56px;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgba(0, 0, 0, 1);
    color : white;
    /* z-index: 1; */
}

.SignInPage::before{
    content :'';
    height: 100%;
    width: 100%;
    opacity : .2;
    z-index: 1;
    position: absolute;
    background-image: url('https://i.ibb.co/S75Xn2n/cart.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textStyle{
    height : 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

snap{
    color :#F50057;
    font-size: 42px;
    font-weight: 600;
}

@media(max-width:600px){
    .textStyle{
        display: none;    
    }
    .SignInPage::before{
        opacity: .8;
    }
}


